
.contents {
    position: relative;
}

.contents a {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.contents img {
    width: 100%;
    height: 100%;
}

.construction{
    position: relative;
    top: 26%;
    left: 40%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.sneakers{
    position: relative;
    top: 39%;
    left: 46%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.sneakers-sample{
    position: relative;
    top: 44%;
    left: 48.4%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.MyWork{
    position: relative;
    top: 57%;
    left: 55%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.MyWork-sample{
    position: relative;
    top: 62%;
    left: 57.4%;
    text-decoration: none;
    color: black;
    font-size: 30px;
}